.Komoruthree{
    display: flex;
    justify-content: space-around;
}

.backImg{
width: 1920px;
height: 950px;
}

.Stepseven{
    margin-left : auto;
	margin-right: auto;
    width: 1200px;
}

.RoomList{
    display: flex;
    justify-content: space-around;
}

h3{
    font-family: wfont_a7b4cf_a230c1af664a46cf8472b2dca1c723ea,wf_a230c1af664a46cf8472b2dca,orig_agrandir_wide_medium_d_4;
    
}