.about{
    margin-top: 200px;
}

.aboutwords{
   width: 900px;
   margin: 0 auto;
   font-size:1.5rem;
}

.Komoruthree{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.Homepic{
    margin-left : auto;
	margin-right: auto;
    /* width: 1920px; */
    height:950px;
}


.RoomWords{
/* width: 900px; */
   /* margin: 0 auto; */
   font-size:1.5rem;
}


.RoomList{
    margin-top: 50px;
    /* display: flex;
    justify-content: space-around; */
}


.HomeFooter{
    margin-top: 150px;
}
