.orderContainer {
  margin: 100px auto;
  width: 1024px;
  /* position: relative; */
  background-color: rgb(224, 198, 165);
}

.contentContainer {
  display: flex;
  margin: 10px 50px;
  justify-content: space-between;
}

.orderList {
  border: 1px solid black;
  width: 450px;
}
.memberCheckout {
  border: 1px solid black;
  width: 450px;
  display: flex;
  position: relative;
}
.memberImg {
  position: absolute;
  top: 10px;
  right: 50px;
}

.memberContent {
  margin: 10px;
  line-height: 25px;
}

.marginContainer {
  margin: 10px 100px;
}
.marginContainer > h5 {
  border-bottom: 1px solid black;
  background-color: lightgray;
}

.activityList {
  margin-bottom: 10px;
  border: 1px solid black;
}

.checkoutBtn {
  padding: 10px 30px;
  right: 100px;
}

.list {
  margin: 10px;
  display: flex;
}
.list > p,
.list > span {
  font-size: 20px;
  padding-right: 10px;
}
