.User a{
  display: block;
  text-decoration: none;
  color: #000;
}

.User a:hover{
  text-decoration: none;
}

.User--container{
  margin: 0 auto;
  max-width: 1024px;
}

.User{
  display: flex;
  padding: 100px 0;
}

.user--menu{
  width: 25%;
  line-height: 2;
  font-weight: bold;
  border-left:1px solid #111 ;
}

.menu--item{
  font-family: 'Inter';
  font-size: 28px;
  padding-left: 20px;
  margin: 10px 0;
}

/* .menu--item:hover,.menu--item--on:hover{
  font-size: 28px;
  border-left: 8px solid #ccc ;
  padding-left: 12px;
} */

.menu--item--on{
  font-size: 28px;
  border-left: 8px solid #ccc ;
  padding-left: 12px;
  margin: 10px 0;
}


.user--card{
  padding: 100px 40px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #111;
  justify-content: space-between;
}

.user--icon{
  width: 30%;
  text-align: center;
}

@media (max-width:768px) {
  .user--card{
    flex-direction: column;
    width: 100%;
  }

  .user--icon{
    width: 100%;
  }

  .user--btn--L{
    align-self:center;
  }

  .user--form{
    width:100%;
  }
  .user--item{
  width: 100%;
  }
  .user--item input,select{
  width: 100%;
  
  }
  .user--menu{
    display: none;
  }
}

.icon--pic{
  margin-bottom: 20px;
}

.icon--pic img{
  width: 200px;
}


.user--form{
  width: 60%;
}

.user--item{
  padding: 10px 0;
}

.user--item label{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
margin-right: 10px;
}

.user--item input,select{
    text-align: left;
    padding: 6px;
    font-size: 16px;
    width: 260px;
}

.user--btnBar{
  width: 100%;
  text-align: right;
}

.user--btn--M{
  margin: 0 5px;

}

.user--btn--L{
  margin: 2px 5px;
}

